@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


/* colors 

from lighter to darker

#fef2f2    50

#fee2e2    100

#fecaca     200

#fca5a5    300

#f87171    400

#ef4444    500

#dc2626    600

#b91c1c     700

#991b1b     800

#7f1d1d     900

#450a0a     950

*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
    scroll-behavior: smooth;
}

/* scrollbar  */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #b91c1c; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7f1d1d; 
}

body {
    background: #000;
    scroll-behavior: smooth;
}


.loader {
    width:100%;
    height: 300vh;
    position: absolute;
    background: #111;
    z-index: -10;
    opacity: 0;
    animation: loader 5s;
}

@keyframes loader {
    0%{
        opacity: 100%;
        z-index: 99;
    }
    50%{
        opacity: 100%;
        z-index: 99;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}

.loading {
    display: flex;
    position: absolute;
    background: #111;
    top: calc(15% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
    z-index: -5;
    animation: loade 5s;
}

@keyframes loade {
    0%{
        opacity: 100%;
        z-index: 99;
    }
    50%{
        opacity: 100%;
        z-index: 99;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


/* ------header----- */

.header {
    width: 100%;
    height: 100%;
    background: #111;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0.652)), url(./assest/lines-back.png);
    background-size: 100%;
    background-attachment: fixed;
    border-bottom: 2px solid #fff;
}


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 6%;
}

.nav-links {
    background: #222;
    /* padding:10px 19px; */
    border-radius: 50px;
    border: 3px solid #333;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 1px;
}



.nav-links ul li a {
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}

.nav-links ul li a:hover {
    background: #b91c1c;
    color: #fff;

}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 90px auto;
    position: relative;
}

.header-text h1 {
    font-size: 135px;
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    transform: scale(1.2);
    background: linear-gradient(90deg, rgb(0, 0, 0), #fff, rgb(0, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 170%;
    background-position: center;
    user-select: none;
}


.header-text p {
    font-size: 20px;
    margin-top: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #111, #fff, #111);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    user-select: none;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}


.mouse {
    margin-top: 90px;
    margin-bottom: 50px;
	width: 24px;
	height: 40px;
	border: 3px solid #333;
	border-radius: 60px;
	position: relative;
}
.mouse::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}






/* ---------Responsive Header --------- */


@media only screen and (max-width: 990px) {

    nav{
        padding: 3% 6%;
    }

    .nav-links ul li a{
        padding: 10px 17px;
    }

    .header-text h1 {
        font-size: 80px;
    }

    .header-text p {
        font-size: 16px;
    }

}

@media only screen and (max-width: 765px){

    .header{
        height: 80vh;
    }

    .mouse {
        display: none;
    }
}

@media only screen and (max-width: 480px){

    .header{
        height: 70vh;
    }

    nav{
        padding: 8% 6%;
    }
    .nav-links ul li {
        padding: 6px 1px;
    }
    .nav-links ul li a {
        font-size: 13px;
        padding: 7px 17px;
    }

    .header-text h1 {
        font-size: 49px;
    }

    .header-text p {
        font-size: 12px;
        transform: translateY(50px);
    }


    .header-text {
        margin: 40px auto;
    }

}

@media only screen and (max-width: 320px){
    .header-text p{
        margin-bottom: 20px;
    }    .header{
        height: 80vh;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .nav-links ul li a {
        font-size: 10px;
        padding: 7px 13px;
    }
}


/* ---------End Header --------- */


/* ------ top-info-wrap ---- */

.top-info-wrap {
    height: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    padding: 20px 40px 20px;
}

.top-info-wrap::-webkit-scrollbar {
    display: none;
}

.top-info-wrap>div {
    display: flex;
    flex-direction: row;
    
}

.info-box {
    width: 210px;
    height: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 25px;
    position: relative;
    border-bottom: 2px solid #fff;
}

.info-box-img img {
    width: 100%;
}

.info-box-text {
    display: flex;
    align-items: flex-start;
    text-align: center;
    padding: 12px 8px;
    border-radius: 30px;
}

.info-box-text p {
    font-size: 14px;
    color: #fff;
}

.info-box-text p span {
    color: #888888;
}

.info-box a {
    position: absolute;
    font-size: 14px;
    color: #ef4444 ;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 10px;
    bottom: 0;
}

.info-box a:hover {
    color: #eee;
    margin-left: 5px;
}


/* ------End of top-info-wrap ---- */

/* -------  intro------- */

.intro {
    width: 100%;
    padding: 40px 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0.652)), url(./assest/lines-back.png);
    background-size: 100%;
    background-attachment: fixed;
}

.curiosity-intelligence {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
    position: relative;
}

.curiosity-intelligence h1 {
    color: #fff;
    font-size: 30px;
    margin: 40px;
    padding: 30px;
    position: relative;
    background: linear-gradient(90deg, rgba(17, 17, 17, 0), #fff, rgba(17, 17, 17, 0)); 
    background-repeat: no-repeat;
    background-size: 190%;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); 
}


.curiosity-intelligence h1:nth-child(2) {
    margin-top: 110px;
    transform: translateY(50px);
    margin-bottom: 84px;
}

.curiosity-intelligence .lines::after, .curiosity-intelligence .lines::before {
    content: "";
    border: 3px solid rgba(255, 255, 255, 0.469);
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    /* z-index: -1; */
    transition: transform 0.5s ease;
}

.lines:hover::after {
    transform: translate(-8px, -8px);
}
.lines:hover::before {
    transform: translate(8px, 8px);
}

/* Responsive Intro  */

@media only screen and (max-width: 920px){
    .curiosity-intelligence h1{
        font-size: 26px;
        padding: 30px;
        margin: 5px;
    }
}

@media only screen and (max-width: 765px) {
    .curiosity-intelligence h1 {
        font-size: 17px;
        padding: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .curiosity-intelligence {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .curiosity-intelligence h1 {
        font-size: 17px;
        padding: 20px;
    }

    .curiosity-intelligence h1:nth-child(1) {
        transform: translateX(-50px);
    }

    .curiosity-intelligence h1:nth-child(2) {
        margin-top: 10px;
        transform: translate(50px, 50px);
        margin-bottom: 54px;
    }
}

@media only screen and (max-width: 400px) {
    .blog-nav{
        display: none;
    }
}

@media only screen and (max-width: 325px){
    .curiosity-intelligence h1 {
        font-size: 14px;
        padding: 17px;
    }
}


/* ------- End of  intro------- */


/* Top Biography from Scientists  */

.bio-wrap{
    border-bottom: 2px solid #fff;
}



/* End of Top Biography from Scientists */

/* ------blog----- */


.blog {
    width: 100%;
    padding: 10px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0.652)), url(./assest/lines-back.png);
    background-size: 100%;
    background-attachment: fixed;
}

.blog h1 {
    color: #fff;
    margin: 30px;
    text-align: center;
}

.blog h2 {
    color: #fff;
    margin: 30px;
    text-align: center;
}

.blog h1::before,
.blog h1::after{
    content: '';
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #991b1b;
    margin: 6px 10px;
}

.blog-posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.blog-post-1 {
    width: 350px;
    height: 400px;
    background: #111;
    padding:  10px 20px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* flex-basis: 29%; */
    flex-grow: 1;
    border-radius: 2px;
    position: relative;
}

.blog-post-1:hover{
    background: #222;
}

.blog-post-1 h3 {
    color: #fff;
}


.blog-post-1 span {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: #b91c1c;
    margin-top: 20px;
    margin-bottom: 20px;
}


.blog-post-1 p {
    color: #fff;
    line-height: 28px;
}

.blog-button button {
    border: none;
    background: #b91c1c;
    padding: 7px 14px;
    cursor: pointer;
    transition: all 0.5s;
}

.blog-button button:hover {
    background: #991b1b;
}


.blog-button button a {
    text-decoration: none;
    color: #fff;
}

.blog>button {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(500px);
    margin: 10px auto;
}

.blog h2 a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 18px;
}





@media only screen and (max-width: 480px) {
    .blog {
        padding: 10px 9px;
    }

    .blog-post-1{
        margin: 20px 9px;
    }
}


@media only screen and (max-width: 400px) {
    .blog {
        padding: 10px 10px;
    }

    .blog-post-1{
        margin: 20px 5px;
    }
}

/* -----banner-new  */


.banner-new {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 40px;
    flex-grow: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0.652)), url(./assest/lines-back.png);
    background-size: 100%;
    background-attachment: fixed;
}


.banner-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 250px;
    border-radius: 20px;
}

.banner-post h1 {
    color: #fff;
    font-size: 34px;
    margin: 30px;
}

.banner-post a {
    color: #eee;
    text-decoration: none;
}

.banner-post a:hover {
    color: #cbcbcb;
    text-decoration: underline;
}

@media only screen and (max-width: 480px){
    .banner-post h1 {
        font-size: 20px;
        text-align: center;
    }

    .banner-post a {
        font-size: 13px;
    }
}
